Source: julia
Section: science
Priority: extra
Homepage: http://julialang.org
Maintainer: Julia Computing Inc. <juliapro@juliacomputing.com>

Package: julia
Architecture: any
Depends: ${shlibs:Depends}, libllvm3.9, libpcre2-dev, libdsfmt-dev, libopenblas-dev, libfftw3-dev, libgmp-dev, libmpfr-dev, libarpack2-dev, libsuitesparse-dev, libopenspecfun-dev, libssh2-1, libcurl4-openssl-dev, patchelf
Description: high-performance programming language for numerical
 computing Julia is a high-level, high-performance dynamic programming
 language. While it excels at numerical computing, it is a general
 purpose language. The Julia community has contributed over 1,000
 packages covering a number of capabilities. This package contains the
 Julia compiler, standard library, package manage and documentation.
